/* app/globals.css */
:root {
  --Background-Beige: #F5F1E9;
  --Light-Beige: #FEFBF7;
  --Border-Beige: #E0D9C9;

  --Primary-Wood: #613F28;
  --Secondary-Wood: #80614A;
  --Dark-Wood: #452C1E;
  --Faded-Wood: #A38A73;

  --Text-Brown: #4A3A2C;
  --Shadow-Brown: rgba(0, 0, 0, 0.05);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Noto Sans KR', 'ABeeZee', -apple-system, Roboto, Helvetica, sans-serif;
  font-weight: 400;
  background: var(--Background-Beige);
  color: var(--Text-Brown);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}
