.adoption-register {
  top: 2676px;
  left: 0px;
  width: 1296px;
  height: 1240px;
  position: absolute;
}
.group-1000000853 {
  top: 0px;
  left: 0px;
  width: 1368px;
  height: 1240px;
  position: absolute;
}
.rectangle-1084 {
  top: 0px;
  left: 0px;
  width: 1296px;
  height: 1240px;
  position: absolute;
  background-color: #ffffff;
}
.frame-107 {
  top: 40px;
  left: 72px;
  width: 1296px;
  height: 52px;
  position: absolute;
}
.container {
  top: 8px;
  left: 0px;
  width: 110px;
  height: 44px;
  position: absolute;
  background-color: #ffffff;
  background-color: #949494;
}
.text-logo-here {
  top: 14px;
  left: 15px;
  width: 79px;
  height: 16px;
  position: absolute;
  background-color: #606060;
}
.button-container {
  top: 0px;
  left: 1018px;
  width: 146px;
  height: 48px;
  position: absolute;
  background-color: #455090;
}
.text-logout {
  top: 16px;
  left: 40px;
  width: 66px;
  height: 16px;
  position: absolute;
  background-color: #ffffff;
}
.text-button-text {
  top: 16px;
  left: 901px;
  width: 88px;
  height: 16px;
  position: absolute;
  background-color: #6a6a6a;
}
.text-title {
  top: 48px;
  left: 391px;
  width: 453px;
  height: 59px;
  position: absolute;
  background-color: #373737;
}
.text-.adoption-register {
  top: 288px;
  left: 104px;
  width: 231px;
  height: 47px;
  position: absolute;
  background-color: #373737;
}
.navigation-bar {
  top: 154px;
  left: 0px;
  width: 1296px;
  height: 48px;
  position: absolute;
  background-color: #6474d2;
}
.frame-108 {
  top: 4px;
  left: 4px;
  width: 1280px;
  height: 40px;
  position: absolute;
}
.menu-item {
  top: 0px;
  left: 340px;
  width: 113px;
  height: 40px;
  position: absolute;
  background-color: #6575d3;
}
.text-menu-text {
  top: 12px;
  left: 40px;
  width: 33px;
  height: 16px;
  position: absolute;
  background-color: #ffffff;
}
.menu-item {
  top: 0px;
  left: 453px;
  width: 130px;
  height: 40px;
  position: absolute;
  background-color: #6575d3;
}
.text-menu-text {
  top: 12px;
  left: 40px;
  width: 50px;
  height: 16px;
  position: absolute;
  background-color: #ffffff;
}
.menu-item {
  top: 0px;
  left: 583px;
  width: 173px;
  height: 40px;
  position: absolute;
  background-color: #6575d3;
}
.text-menu-text {
  top: 12px;
  left: 40px;
  width: 93px;
  height: 16px;
  position: absolute;
  background-color: #ffffff;
}
.menu-item {
  top: 0px;
  left: 756px;
  width: 184px;
  height: 40px;
  position: absolute;
  background-color: #aab5f5;
}
.text-menu-text {
  top: 12px;
  left: 40px;
  width: 104px;
  height: 16px;
  position: absolute;
}
.rectangle-1094 {
  top: 497px;
  left: 109px;
  width: 1021px;
  height: 49px;
  position: absolute;
  background-color: #f0f0f0;
}
.group-1000000870 {
  top: 568px;
  left: 114px;
  width: 1016px;
  height: 518px;
  position: absolute;
}
.rectangle-1097 {
  top: 568px;
  left: 114px;
  width: 1016px;
  height: 518px;
  position: absolute;
  background-color: #f0f0f0;
}
.rectangle-1095 {
  top: 568px;
  left: 114px;
  width: 1016px;
  height: 518px;
  position: absolute;
  background-color: #f0f0f0;
}
.rectangle-1096 {
  top: 568px;
  left: 72px;
  width: 1091px;
  height: 63px;
  position: absolute;
  background-color: #d9d9d9;
}
.text-주소 {
  top: 382px;
  left: 123px;
  width: 46px;
  height: 30px;
  position: absolute;
  background-color: #000000;
}
.rectangle-1098 {
  top: 378px;
  left: 194px;
  width: 799px;
  height: 34px;
  position: absolute;
  background-color: #ededed;
}
.rectangle-1099 {
  top: 378px;
  left: 1014px;
  width: 97px;
  height: 34px;
  position: absolute;
  background-color: #d9d9d9;
}
.text-검색 {
  top: 382px;
  left: 1038px;
  width: 46px;
  height: 30px;
  position: absolute;
  background-color: #000000;
}
.group-1000000869 {
  top: 435px;
  left: 123px;
  width: 240px;
  height: 40px;
  position: absolute;
}
.drop-down-expense {
  top: 435px;
  left: 187px;
  width: 176px;
  height: 40px;
  position: absolute;
}
.input {
  top: 0px;
  left: 0px;
  width: 176px;
  height: 40px;
  position: absolute;
  background-color: #ffffff;
}
.default-type {
  top: 9px;
  left: 12px;
  width: 99px;
  height: 22px;
  position: absolute;
}
.text-input {
  top: 0px;
  left: 0px;
  width: 99px;
  height: 22px;
  position: absolute;
  background-color: #d9d9d9;
}
.food {
  top: 9px;
  left: 152px;
  width: 99px;
  height: 22px;
  position: absolute;
}
.text-input {
  top: 0px;
  left: 0px;
  width: 99px;
  height: 22px;
  position: absolute;
  background-color: #262626;
}
.cab {
  top: 9px;
  left: 152px;
  width: 99px;
  height: 22px;
  position: absolute;
}
.text-input {
  top: 0px;
  left: 0px;
  width: 99px;
  height: 22px;
  position: absolute;
  background-color: #262626;
}
.hotel {
  top: 9px;
  left: 152px;
  width: 99px;
  height: 22px;
  position: absolute;
}
.text-input {
  top: 0px;
  left: 0px;
  width: 99px;
  height: 22px;
  position: absolute;
  background-color: #262626;
}
.tip {
  top: 9px;
  left: 152px;
  width: 99px;
  height: 22px;
  position: absolute;
}
.text-input {
  top: 0px;
  left: 0px;
  width: 99px;
  height: 22px;
  position: absolute;
  background-color: #262626;
}
.visa-fee {
  top: 9px;
  left: 152px;
  width: 99px;
  height: 22px;
  position: absolute;
}
.text-input {
  top: 0px;
  left: 0px;
  width: 99px;
  height: 22px;
  position: absolute;
  background-color: #262626;
}
.other {
  top: 9px;
  left: 152px;
  width: 99px;
  height: 22px;
  position: absolute;
}
.text-input {
  top: 0px;
  left: 0px;
  width: 99px;
  height: 22px;
  position: absolute;
  background-color: #262626;
}
.vector {
  top: 16.232284545898438px;
  left: 164px;
  width: 7.535429954528809px;
  height: 12px;
  position: absolute;
  background-color: #d9d9d9;
}
.text-category {
  top: 441px;
  left: 123px;
  width: 46px;
  height: 30px;
  position: absolute;
  background-color: #000000;
}
.group-1000000869 {
  top: 435px;
  left: 394px;
  width: 240px;
  height: 40px;
  position: absolute;
}
.drop-down-expense {
  top: 435px;
  left: 458px;
  width: 176px;
  height: 40px;
  position: absolute;
}
.input {
  top: 0px;
  left: 0px;
  width: 176px;
  height: 40px;
  position: absolute;
  background-color: #ffffff;
}
.default-type {
  top: 9px;
  left: 12px;
  width: 99px;
  height: 22px;
  position: absolute;
}
.text-input {
  top: 0px;
  left: 0px;
  width: 99px;
  height: 22px;
  position: absolute;
  background-color: #d9d9d9;
}
.food {
  top: 9px;
  left: 152px;
  width: 99px;
  height: 22px;
  position: absolute;
}
.text-input {
  top: 0px;
  left: 0px;
  width: 99px;
  height: 22px;
  position: absolute;
  background-color: #262626;
}
.cab {
  top: 9px;
  left: 152px;
  width: 99px;
  height: 22px;
  position: absolute;
}
.text-input {
  top: 0px;
  left: 0px;
  width: 99px;
  height: 22px;
  position: absolute;
  background-color: #262626;
}
.hotel {
  top: 9px;
  left: 152px;
  width: 99px;
  height: 22px;
  position: absolute;
}
.text-input {
  top: 0px;
  left: 0px;
  width: 99px;
  height: 22px;
  position: absolute;
  background-color: #262626;
}
.tip {
  top: 9px;
  left: 152px;
  width: 99px;
  height: 22px;
  position: absolute;
}
.text-input {
  top: 0px;
  left: 0px;
  width: 99px;
  height: 22px;
  position: absolute;
  background-color: #262626;
}
.visa-fee {
  top: 9px;
  left: 152px;
  width: 99px;
  height: 22px;
  position: absolute;
}
.text-input {
  top: 0px;
  left: 0px;
  width: 99px;
  height: 22px;
  position: absolute;
  background-color: #262626;
}
.other {
  top: 9px;
  left: 152px;
  width: 99px;
  height: 22px;
  position: absolute;
}
.text-input {
  top: 0px;
  left: 0px;
  width: 99px;
  height: 22px;
  position: absolute;
  background-color: #262626;
}
.vector {
  top: 16.232284545898438px;
  left: 164px;
  width: 7.535429954528809px;
  height: 12px;
  position: absolute;
  background-color: #d9d9d9;
}
.text-품종 {
  top: 441px;
  left: 394px;
  width: 46px;
  height: 30px;
  position: absolute;
  background-color: #000000;
}
.text-toolbar {
  top: 586px;
  left: 137px;
  width: 90px;
  height: 30px;
  position: absolute;
  background-color: #636363;
}
.button-container {
  top: 1108px;
  left: 1017px;
  width: 113px;
  height: 48px;
  position: absolute;
  background-color: #6575d3;
}
.text-button-text {
  top: 16px;
  left: 40px;
  width: 33px;
  height: 16px;
  position: absolute;
  background-color: #ffffff;
}
